@model IEnumerable<Up_To_Date__UTD_.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center bg-secondary text-light" style="margin-left:35%;margin-right:35%">News Feed</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Add News</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsHeading)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="d-flex justify-content-between">
            <td>
                @Html.DisplayFor(modelItem => item.NewsHeading)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
